body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif, sans-serif;
}

:root{
    --color-nav: rgb(45, 125, 190);
}

.container-nav{
    height: 80px;
    background-color: var(--color-nav);
}

.search{
    height: 30px;
    margin: 25px 0 25px 40px;
    color: black;
    font-size: 15px;
    font-weight: 550;
    border: 1px solid black;
    text-indent: 15px;
    float: left;
}

.search::placeholder{
    color: black;
    font-size: 15px;
    font-weight: 550;
}

.menu-items{
    width: 250px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
}

.menu-items a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    transition: .5s;
    color: white;
}

.menu-items a:hover{
    color: rgb(160, 198, 255);
    font-size: 18.5px;
}

.container-cards{
    display: flex;
    width: 100%;
    transition: all 1s;
}

.container-cards:hover{
    background-color: orange;
}

.card{
    width: 300px;
    border: 1px solid black;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.card img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card h1{
    text-align: center;
    font-size: 25px;
}

.p-description{
    display: block;
    padding: 10px 20px;
    line-height: 1.5em;
    word-spacing: 1px;
    font-weight: 550;
}

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(133, 133, 133, .8);
}

.modal:target{
    display: flex;
}

.modal-box{
    background-color: rgb(35, 133, 133);
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art{
    background-color: red;
    margin-bottom: 20px;
    padding: 20px 50px;
}

.art:hover{
    background-color: blue;
}
.art:active{
    color: white;
}

.art:nth-child(even){
    background-color: blueviolet;
}